<div class="container-fluid header">{{__ "HEAD"}}</div>
<div class="content">
  <div class="content-place"></div>
  <div class="loading hidden">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="input-group">
    <input id="search" type="text" class="form-control" placeholder="enter keywords">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">{{__ "find it"}}</button>
    </span>
  </div>
</div>
