<div class="modal-header">
  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
  <h3>Add Dashboard Admin</h3>
</div>
<div class="modal-body">
  <div class="input-prepend">
    <span class="add-on" style="padding: 10px;">
      <i class="icon-user"></i>
    </span>
    <input id="txtUser" type="text" class="input-xlarge" placeholder="type name or username" autocomplete="off" style="padding: 10px;">
  </div>
</div>
<div class="modal-footer">
  <input id="save" type="button" class="btn primary btn-success pull-right" style="margin-left: 10px;" value="Save">
  <input type="button" class="btn primary pull-right" data-dismiss="modal" value="Cancel">
</div>