
<div class="header">
  <div class="container">

    {{#isEmbed}}
    <a class="dash-details" href="/dashboards/{{domain}}" target="_blank"></a>
    {{else}}
    <div class="dash-details"></div>
    {{/isEmbed}}

    <div class="dash-admins"></div>

    <div class="dash-buttons">
      {{#if link}}
        <a class="link" href="{{link}}" target="_blank" data-bypass>
          <i class="fa fa-link"></i>
        </a>
      {{/if}}
      <a class="share">
        <i class="fa fa-share-alt"></i>
      </a>
    </div>

    {{#isEmbed}}
    <a class="logo" href="{{hackdashURL}}" target="_blank"></a>
    {{/isEmbed}}

  </div>
</div>

<div class="body">

  <div class="container">

    <div id="dashboard-projects"></div>
    <div id="inactive-projects" class="hide inactive-ctn"></div>

  </div>

</div>
