
<div class="header">
  <div class="container">
    <div class="dash-details"></div>
    <div class="dash-admins"></div>
  </div>
</div>

<div class="body">

  <div class="container">

    <div id="dashboard-projects"></div>
    <div id="inactive-projects" class="hide inactive-ctn"></div>

  </div>

</div>
