node_modules
.DS_Store
.sublime-project
.sublime-workspace
keys.json
config.json
config.test.json
public/uploads/*
npm-debug.log

public/styles/app.css
public/styles/embed.css
public/styles/landing.css

*.sample
