{
  "db": {
    "name": "hackdash",
    "host": "localhost",
    "url": null
  },  
  "host": "local.host",
  "port": 3000,
  "session": "wefewfef",
  "disqus_shortname": null,
	"title": "hackdash",
  "join_approval": true,
	"live": true,
	"mailer": null,
  "stages" : [
    {
      "name": "submission",
      "start": "2013-07-01",
      "end": "2013-08-01",
      "permissions": ["view", "edit", "create"]
    },
    {
      "name": "gallery",
      "start": "2013-09-01 00:00",
      "permissions": ["view", "view-anonymous"]
    }
  ]
}
