{
  "db": {
    "name": "hackdash",
    "host": "localhost",
    "url": null
  },  
  "host": "local.host",
  "port": 3000,
  "session": "wefewfef",
  "disqus_shortname": null,
	"title": "hackdash",
	"live": true,
	"mailer": null,
  "prerender": {
    "enabled": false,
    "url": "http://localhost:4000" 
  }
}
