<h1>Collections</h1>

{{#isLoggedIn}}
  <a class="btn btn-large" href="/dashboards">Create a Collection</a>
{{else}}
  <a class="btn btn-large" href="/login">Login to manage collections</a>
{{/isLoggedIn}}
