
<div class="row main-header">

  <div class="pull-left col-xs-6 col-md-4 search-ctn"></div>

  <div class="pull-right col-xs-6 col-md-4 my-profile">
    {{#isLoggedIn}}
    <div class="pull-right col-xs-3 col-md-3">
      <a class="btn-profile" href="/users/profile">
        {{getMyProfileImageHex}}
      </a>
    </div>
    <div class="pull-right col-xs-6 col-md-6 text-right">
      <div class="salute">How is going
        <span>{{user 'name'}}?<span>
      </div>
      <a class="logout" href="/logout" data-bypass>LogOut?</a>
    </div>
    {{/isLoggedIn}}
  </div>

  <a class="logo" href="{{hackdashURL}}" data-bypass></a>

</div>
