
<div class="row main-header">

  <div class="pull-left col-xs-8 col-md-6 search-ctn"></div>

  <div class="pull-right col-xs-6 col-md-4 my-profile">
    {{#isLoggedIn}}
    <div class="pull-right col-xs-3 col-md-3">
      <a class="btn-profile" href="/users/profile">
        {{getMyProfileImageHex}}
      </a>
      <a class="logout" href="/logout" data-bypass>Log out</a>
    </div>
    {{/isLoggedIn}}
  </div>

  <a class="logo" href="{{hackdashURL}}" data-bypass></a>

</div>
