<div class="search-ctn"></div>

<div class="createProject pull-right btn-group">
  {{#isLoggedIn}}
  <a class="btn-profile" href="/users/profile">
    <img class="avatar tooltips" src="{{user "picture"}}" rel="tooltip" data-placement="bottom" data-original-title="Edit profile">
  </a>  
  <a class="btn logout" href="/logout" data-bypass>Logout</a>
  {{/isLoggedIn}}
</div>

<a class="logo" href="{{hackdashURL}}" data-bypass></a>

<div class="page-ctn"></div>
<h1 class="page-title"></h1>