
<div class="row main-header">

  <div class="hidden-xs col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 search-ctn"></div>

  <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 my-profile">
    {{#isLoggedIn}}
    <div class="pull-right col-xs-3 col-md-3">
      <a class="btn-profile" href="/users/profile">
        {{getMyProfileImageHex}}
      </a>
      <a class="logout" href="/logout" data-bypass>Log out</a>
    </div>
    {{/isLoggedIn}}
  </div>

  <a class="col-xs-2 col-sm-1 col-md-1 col-lg-1 logo" href="{{hackdashURL}}" data-bypass></a>

</div>
