
<div class="row main-header">
  <div class="hidden-xs col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 search-ctn"></div>
  <div class="col-lg-2">
    <a class="logo" href="{{hackdashURL}}" data-bypass>Hack <span>/</span> Dash</a>
  </div>
  <div class="col-lg-10">
    <nav class="main-nav">
      <a href="" class="sign-up pull-right">Sign Up</a>
      <ul class="list-inline pull-right">
        <li class="active"><a href="">Dashboard</a></li>
        <li><a href="">About this hackaton</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </nav>
  </div>
</div>
