<div class="col-xs-6 col-md-6">

  <div class="input-group">
    <input id="search" type="text" class="form-control" placeholder="{{placeholder}}">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>

</div>

{{#isDashboardView}}
<div class="btn-group col-xs-6 col-md-6" data-toggle="buttons">
  <label class="btn btn-default col-xs-4 col-md-4">
    <input type="radio" name="options" id="name" autocomplete="off"> By Name
  </label>
  <label class="btn btn-default col-xs-4 col-md-4 active">
    <input type="radio" name="options" id="date" autocomplete="off"> By Date
  </label>
  <label class="btn btn-default col-xs-4 col-md-4">
    <input type="radio" name="options" id="showcase" autocomplete="off"> Showcase
  </label>
</div>
{{/isDashboardView}}