extends empty_layout

block content
  .page-500
    .logo
    .code
      h2 500
    h1 Something went wrong.
    a(href="/")
      h3 Go home
    a(href="https://twitter.com/Hack_Dash", target="_blank")
      h4 Contact us