extends layout

block content
  .row
    form.span4.offset4(method="post", action="site_root + '/admin")
      fieldset
        legend Admin
        label(for="title") Titulo
        input#title(name="title", type="text", value=dashboard.title)
        label(for="description") Descripcion
        textarea#description(maxlength="140", name="description")= dashboard.description
        label(for="background") Color de fondo
        input#background(name="background", type="text", value=dashboard.background)
        button.btn(type="submit") Guardar
