extends layout

block styles

  link(rel='stylesheet', href='/styles/app.css?v=' + version)

block content

block scripts

  script(src="//platform.twitter.com/widgets.js")
  script(src="/js/hackdashApp.js?v=" + version)

  script.
    $(function(){
      window.hackdash.startApp();
    });
