.row-fluid.applicant
  .span2
    p 
      a.btn-profile(href="/users/" + _applicant._id)
        img.avatar(src=_applicant.picture)
  .span5
    h3 #{_applicant.name}
    p #{project.title}
  .span5.rejectaccept
    a.btn.btn-success(href='/users/applicants/approve/' + project._id + '/' + _applicant._id ) Approve
    a.btn(href='/users/applicants/reject/' + project._id + '/' + _applicant._id ) Reject
