.well
  .well-header
    h5 Applicants
  .well-content.span8
    ul
      if(projects)
        each project, index in projects
          each _applicant, index in project.applicants
            include applicant
