extends layout

block content
	form.formSearch
		input.search-query.span8#searchInput(type='text',placeholder='Search a project')
	.row.projects#projects
	#logIn.modal.hide.fade
		include login
	#editProject.modal.hide
	#fullProject.modal.hide
	#newProject.modal.hide.fade
		include new_project
