form.form-horizontal(action="/projects/edit/" + project.id, method="POST")
  fieldset
    legend Edit project
    .control-group
      label.control-label(for="title") Title
      .controls
        input(class="input-xlarge", type="text", name="title", id="title", value=project.title)

    .control-group
      label.control-label(for="description") Description
      .controls
        textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400")= project.description

    .control-group
      label.control-label(for="link") Link
      .controls
        input(class="input-xlarge", type="text", name="link", id="link", value=project.link)

    .control-group
       label.control-label(for="tags") Tags - Comma separated (,)
       .controls
         input(class="input-xlarge", type="text", name="tags", id="tags", value=(project.tags) ? project.tags.join(',') : '')

    .form-actions
      button.btn.btn-primary(type="submit") Edit project
      button.btn.cancel Cancel

h3 Pending users

-if(!project.pending.length){
  strong No pending users
-}

table.table.pending
  tbody
    each user in project.pending
      tr
        td= user.username
        td 
          a.accept.btn-success.btn(href="/projects/"+project.id+"/accept/"+user.id) Accept
        td 
          a.decline.btn-danger.btn(href="/projects/"+project.id+"/decline/"+user.id) Decline
