.span7.offset1
	h3 Edit Your Profile

		if((typeof errors != "undefined") && errors.length)
			p An error ocurred:
			each err in errors
				p(style="margin-left:20px") #{err}

		form.ajaxForm.form-horizontal(method="POST", action="/api/users/" + user.id)
			.control-group
				input(name="name", type='text', placeholder='Name', value=user.name)
			.control-group
				input(name="email", type='text', placeholder='Email', value=user.email)
			.control-group
				textarea(name="bio", placeholder='Some about you') #{user.bio}
			.control-group
				button.btn.btn-success(type="submit") Save changes
				a.cancel.btn(data-dismiss="modal") Cancel
