.span6.span-center
  .boxxy
    h3.header Edit Your Profile

    if((typeof errors != "undefined") && errors.length)
      p An error ocurred:
      each err in errors
        p(style="margin-left:20px") #{err}

    div
      form.ajaxForm(method="POST", action="/api/users/" + user.id)
        .form-content
          .control-group
            .controls
              input(name="name", class="input-block-level", type='text', placeholder='Name', value=user.name)
          .control-group
            .controls       
              input(name="email", class="input-block-level", type='text', placeholder='Email', value=user.email)
          .control-group
            .controls
              textarea(name="bio", class="input-block-level", placeholder='Some about you') #{user.bio}
        .form-actions
          input.btn.primary.btn-success.pull-left(type="submit", value="Save profile")
          a.cancel.btn.btn-cancel.pull-right(data-dismiss="modal") Cancel
