form.form-horizontal(action="/projects/edit/" + project.id, method="POST")
  fieldset
    legend Editar Proyecto
    .control-group
      label.control-label(for="title") Titulo
      .controls
        input(class="input-xlarge", type="text", name="title", id="title", value= project.title)

    .control-group
      label.control-label(for="description") Descripción
      .controls
        textarea(class="input-xlarge", id="description", name="description", rows="5", maxlength="400")= project.description

    .control-group
      label.control-label(for="title") URL de Github
      .controls
        input(class="input-xlarge", type="text", name="github", id="github", value= project.github)

   .control-group
     label.control-label(for="links") links (separados por coma ",")
       .controls
         input(class="input-xlarge", type="text", name="links", id="links", value= project.links)

  .form-actions
    button.btn.btn-primary(type="submit") Guardar
    button.btn.cancel Cerrar
    if(project.contributors.length === 1)
      a.btn.btn-danger(href="/projects/remove/" + project.id) Borrar proyecto

h3 Usuarios pendientes

-if(!project.pending.length){
  strong No hay usuarios por moderar
-}

table.table.pending
  tbody
    each user in project.pending
      tr
        td= user
        td 
          a.accept.btn-success.btn(href="/accept/"+project.id+"/"+user) Aceptar
        td 
          a.decline.btn-danger.btn(href="/decline/"+project.id+"/"+user) Rechazar
