form.form-horizontal(action="/projects/edit/" + project.id, method="POST")
  fieldset
    legend Edit Project
    .control-group
      label.control-label(for="title") Title
      .controls
        input(class="input-xlarge", type="text", name="title", id="title", value= project.title)

    .control-group
      label.control-label(for="description") Description
      .controls
        textarea(class="input-xlarge", id="description", name="description", rows="3")= project.description

   .control-group
     label.control-label(for="links") Code Repository
       .controls
         input(class="input-xlarge", type="text", name="links", id="links", value= project.links)

  .form-actions
    button.btn.btn-primary(type="submit") Edit project
    button.btn.cancel Cancel
    a.btn.btn-danger(href="/projects/remove/" + project.id) Remove Project

h3 Pending users

-if(!project.pending.length){
  strong No users to moderate
-}

table.table.pending
  tbody
    each user in project.pending
      tr
        td= user
        td 
          a.btn-success.btn(href="/accept/"+project.id+"/"+user) Accept
        td 
          a.btn-danger.btn(href="/decline/"+project.id+"/"+user) Decline
