doctype html
html
  head
    meta(name="fragment", content="!")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= Hackdash

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400,700,300|Montserrat:400,700')

    link(rel='stylesheet', href='/styles/vendor.css?v=' + version)

  body

    header

    #main
      block content

    footer

    if (googleAnalytics)
      script().
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '!{googleAnalytics}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();