
script(src="/js/libs/jquery.min.js")
script(src="/js/libs/bootstrap.min.js")
script(src="/js/libs/plugins.js")
script(src="/js/app.js")
script(src="https://login.persona.org/include.js", type="text/javascript")

if typeof disqus_shortname != "undefined" 
  script(src="/js/disqus.js", disqus_shortname=disqus_shortname)
if typeof live != "undefined" 
  script(src="/socket.io/socket.io.js")
  script(src="/js/live.js")
