footer
  .container
    .row-fluid
      .span6
        p About
      .span6

script(src="/js/libs/jquery.min.js")
script(src="/js/libs/bootstrap.min.js")
script(src="/js/libs/plugins.js")
script(src="/js/app.js")