script(src="/js/jquery.min.js")
script(src="/js/isotope.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/page.js")
script(src="/js/superagent.js")
//script(src="http://platform.twitter.com/anywhere.js?id=YOUR_API_KEY&v=1")
script(src="/js/app.js")
