header.jumbotron.subhead
 .row-fluid
  .span6
    h1
     a(href="/") HackDash
    .description 
      p.lead
        span A Hackaton Dashboard 
        span#slogan for people
  .span6
   .span7.pull-right
    p.createProject
      if(user)
        a.btn.btn-large.btn-block.btn-custom(href="./projects/create") Create Project
      else
        a.btn.btn-large.btn-block.btn-custom(href="./login") Log in to create a project
