header    
  .container
    .row-fluid
      .span3
        h1
          a(href="/") HackDash
        .description 
          p.lead
            span A Hackaton Dashboard 
            span#slogan for people

      .span3.pull-right
        p.createProject
         .btn-group
          if(user)
            a.btn.btn-large.btn-custom(href="/projects/create") Create Project
            a.btn.btn-large.btn-cancel(href="/logout") logout
          else
            a.btn.btn-large.btn-custom(href="/login") Log in to create a project
