.loginhead
  .ulogin(style="float:right;")
    if(!user) 
      | No estás conectado. 
      a(href="/auth/twitter") Entrá con Twitter
    else
      | Bienvenido 
      a(target="_blank",href="https://twitter.com/" + user.username) @#{user.username} 
      a(href="/logout") Salir

.row-fluid.header
  a.span3.logo(href="/")
    img(src="/images/logo.png", width="225")

  .span3#sort
    h3 Filtrar
    .btn-group
      button.btn-large.sort.btn#date Fecha
      button.btn-large.sort.btn#name Nombre
      button.btn-large.sort.btn#contribs Usuarios

  .span3.form-search
    input#searchInput.input-medium.search-query(type="text", name="q", value=("undefined" == typeof q) ? '' : q)
    a.btn(href="/search") Buscar

  .span3
    if(user)
      a.span12.newProject(href="#newProject", data-toggle="modal")
        img.span12(src="/images/new-project.jpg")
    else
      a.span12.newProject(href="/auth/twitter", class=(user) ? "" : "btn-disabled")
        img.span12(src="/images/new-project.jpg")
