header    
  .container
    .row-fluid
      .span3
        h1
          a(href="/") HackDash
        .description 
          p.lead
            span A Hackaton Dashboard 
            span#slogan for people
      .span5
      .span4
        .createProject
         .btn-group
          if(user)
            a.btn.btn-large.btn-custom(href="/projects/create").tooltips(rel='tooltip', data-placement='bottom', data-original-title='Create a new project') New Project
            a.btn.btn-large.btn-profile
             img.avatar(src='http://www.gravatar.com/avatar/1b5777e832ade40d30aa49ca48292404?s=75').tooltips(rel='tooltip', data-placement='bottom', data-original-title='Edit profile')
            a.btn.btn-large.btn-cancel(href="/logout").tooltips(rel='tooltip', data-placement='bottom', data-original-title='Log out from Hackdash') Logout
          else
            a.btn.btn-large.btn-custom(href="/login") Log in to create a project
