extends layout

block content

  h1 Now you are the dashboard admin. You'll be redirected in about 3 seconds...

block scripts

  script()
    setTimeout(function(){
      window.location = window.location.replace('install','');
    }, 3000);
