script(src="/js/libs/jquery.min.js")
script(src="/js/libs/bootstrap.min.js")
script(src="/js/vendor.js")

if ("undefined" == typeof user)
  script.
    window.hackdash = { user: null };
else 
  script.
    window.hackdash = { user: !{JSON.stringify(user)} };
    
script(src="/js/landingApp.js")