script(src="/js/libs/jquery.min.js")
script(src="/js/libs/bootstrap.min.js")
script(src="/js/vendor.js")
script.
  if ("undefined" == typeof user)
    window.hackdash = { user: !{JSON.stringify(user)} };
  else 
    window.hackdash = { user: null };
script(src="/js/landingApp.js")