doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hhba
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/main.css')
  body

    .container
      block content

    script(src="/js/jquery.min.js")
    script(src="/js/isotope.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/app.js")
