doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HackDash: Ideas para un hackatón
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/styles/main.css')
  body

    .container#page
      include header
      block content
      include footer
