.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    - if (user) {
      - if (canCreate(user)) {
        h3 Ingresá para postular tu app
      - }
    - } else { 
      - if (stageCanCreate()) {
        h3 Ingresá para postular tu app
      - } else {
        h3 Ingresá para participar
      - }
    - }

    h3 
.row
  .span4.offset1
    p Podés ingresar usando estos servicios
  .span3.offset1
   each provider in providers
    a(class="btn signup-btn signup-" + provider, href="/auth/" + provider)
      i
      | #{provider.charAt(0).toUpperCase() + provider.slice(1)}