form.form-horizontal(action="/projects/create", method="POST")
  fieldset
    legend Create project
    .control-group
      label.control-label(for="title") Title
      .controls
        input(class="input-xlarge", type="text", name="title", id="title")

    .control-group
      label.control-label(for="summary") Summary
      .controls
        textarea(class="input-xlarge", id="summary", name="summary", rows="3", maxlength="400")

    .control-group
      label.control-label(for="description") description
      .controls
        textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400")

    .control-group
      label.control-label(for="link") Link
      .controls
        input(class="input-xlarge", type="text", name="link", id="link")

    .control-group
       label.control-label(for="tags") Tags - Comma separated (,)
       .controls
         input(class="input-xlarge", type="text", name="tags", id="tags")
    
    .control-group
       label.control-label(for="status") Status
       .controls
         select(class="input-xlarge", name="status", id="status")
          each status in statuses
            option(value=status)= status

    .form-actions
      button.btn.btn-primary(type="submit") Create project
      button.btn.cancel Cancel
