form.ajaxForm.form-horizontal(action="/api/projects/create", method="POST")
  .modal-header
    h3 Create project
    button(class="close", type="button", data-dismiss="modal", aria-hidde"true")
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

  .modal-body
    .control-group
      input(class="input-xlarge", type="text", name="title", id="title", placeholder="Title")

    .control-group
      textarea(class="input-xlarge", id="description", name="description", rows="3", maxlength="400", placeholder="Description")

    .control-group
      input(class="input-xlarge", type="text", name="link", id="link", placeholder="Link")

    .control-group
       input(class="input-xlarge", type="text", name="tags", id="tags", placeholder="Tags")
    
    .control-group
        select(class="input-xlarge", name="status", id="status")
          each status in statuses
            option(value=status)= status

  .modal-footer
    button.btn.cancel Cancel
    button.btn.btn-success(type="submit") Create project
