form.ajaxForm.form-horizontal(action="/api/projects/create", method="POST")
  fieldset
    legend.title-modal Create project
    
  .modal-body
    
    
    .control-group
     label.control-label(for="title") Title* 
     .controls
      input#title(type="text", class="input-xlarge", placeholder="title")

    .control-group
     label.control-label(for="description") Description* 
     textarea(class="input-xlarge", id="description", name="description", rows="4", maxlength="400", placeholder="Description")

    
  .modal-footer
    button.btn.btn-cancel Cancel
    button.btn.btn-custom(type="submit") Create project
