form.ajaxForm.form-horizontal(action="/api/projects/create", method="POST")
  .modal-header
    a(class="close", data-dismiss="modal", aria-hidde"true")&times;
    h3 Create project

  .modal-body
    
    .control-group
     .controls
      input(type="text", class="input-xlarge", placeholder="Title", name="title")

    .control-group
     .controls
      textarea(class="input-xlarge", id="description", name="description", rows="4", maxlength="400", placeholder="Description")

    .control-group
      .controls
        #dragdrop 
          p Drag Photo Here
          input(type="file", name="cover_fall", id="cover_fall")        

    .control-group
     .controls
      input(class="input-xlarge", type="text", name="link", id="link", placeholder="Link")

    .control-group
     .controls
      input(class="input-xlarge", type="text", name="tags", id="tags", placeholder="Tags")
    
    .control-group
     .controls
      select(class="input-xlarge", name="status", id="status")
       each status in statuses
        option(value=status)= status
    
  .modal-footer

    a.cancel.btn.btn-cancel(data-dismiss="modal") Cancel
    input.btn.primary.btn-custom(type="submit", value="Create project")
