form.ajaxForm.form-horizontal(action="/api/projects/create", method="POST", enctype="multipart/form-data")
  .modal-header
    button(class="close", type="button", data-dismiss="modal", aria-hidde"true")&times;
    h3 Create project

  .modal-body
    
    .control-group
     .controls
      input(type="text", class="input-xlarge", placeholder="title", name="title")

    .control-group
     .controls
      textarea(class="input-xlarge", id="description", name="description", rows="4", maxlength="400", placeholder="Description")

    .control-group
      .controls
        label(for="cover") Cover
        input(type="file", name="cover", id="cover")

    .control-group
     .controls
      input(class="input-xlarge", type="text", name="link", id="link", placeholder="Link")

    .control-group
     .controls
      input(class="input-xlarge", type="text", name="tags", id="tags", placeholder="Tags")
    
    .control-group
     .controls
      select(class="input-xlarge", name="status", id="status")
       each status in statuses
        option(value=status)= status
    
  .modal-footer

    button.btn.btn-cancel Cancel
    button.btn.btn-custom(type="submit") Create project
