extends layout

block content

  .row-fluid
    .span12.profile
  
      h3 Profile
      
      form.form-horizontal
        .control-group
          img(class="avatar", src=user.picture)
        .control-group
          span #{user.name}
        .control-group
          span #{user.email}
