<h4>Admins</h4>
<div class="well-content admins-ctn"></div>

{{#if isAdmin}}
<div class="footer-toggle-ctn">
  <a class="tooltips btn dashboard-btn {{#if open}}dash-open{{else}}dash-close{{/if}} pull-right"
    data-placement="top" data-original-title="{{switcherMsg}}">
    {{#if open}}Close Dashboard{{else}}Open Dashboard{{/if}}
  </a>

  <a class="btn pull-right" href="/api/v2/csv" target="_blank" data-bypass>Export CSV</a>
  <a class="btn pull-right embed-btn">Embed code</a>
</div>
<a class="btn btn-large pull-right btn-showcase-mode">Edit Showcase</a>
{{/if}}