{
  "cronTime": "00 00 11 * * 1-5",
  "projects": {
    "url": "/projects/:id",
    "changefreq": "monthly",
    "priority": 0.3
  },
  "dashboards": {
    "url": "/dashboards/:id",
    "changefreq": "daily",
    "priority": 0.5
  },
  "collections": {
    "url": "/collections/:id",
    "changefreq": "daily",
    "priority": 0.6
  }
}
