doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title HackDash: Ideas for a hackatón
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='/styles/homepage.css')

  body.homepage
    main(role="main")
      .container-fluid
        .row-fluid
          .span12
            section.brand
              header
                h1
                  a(href="#") HackDash
              .content
                h2 Ideas for a hackathon
                p Upload your project. Add colaborators. Inform status. Share your app.
                if(user)
                  form#create-dashboard(action="/dashboard/create", method="post")
                    p.control-group
                      input.input-xlarge(type="text", id="domain", name="domain", placeholder="Hackathon domain Name (5-10 chars)", maxlength="10")
                      label (5-10 lowercase letters/numbers)
                    p
                      input(type="submit", value="Create a Dashboard").btn.btn-large.btn-custom.disabled
                
                else
                  p
                    a.btn.btn-large.btn-custom(href="/login") Log in to create a Hackathon

        .row-fluid
          .span12
            .span4
              section.block
                header
                  h3 Find Projects
                .content.span10.offset2
                  p.control-group
                    input.input-large.search-box(id="search-projects", type='text', placeholder="name or description")
                    button.btn.btn-large.btn-custom.disabled.search-btn(id="search-projects-btn") Search

            .span8
              section.block
                header
                  h3 About
                .content.span11
                  p The HackDash was born by accident and by a need. We were looking for platform to track ideas through hackathons in the line to the Hacks/Hackers Media Party organized by @HacksHackersBA where hackers and journalists share ideas. We spread the idea through Twitter and that was the context of the HackDash born. @blejman had an idea and @danzajdband was interested in implement that idea. So we started building the app hoping we can get to the Buenos Aires media party with something that doesn't suck. The Media Party Hackathon day came followed by a grateful surprise. Not only the people liked the HackDash implementation but a couple of coders added the improvement of the HackDash as a Hackaton project. After the Media Party we realized that this small app is filling a real need. The Dashboard has been used now in several ways like Node.js Argentina meetup, HacksHackersBA, La Nación DataFest and HackasHackersCL (using it as a Wordpress theme). Now, the HackDash will be an standard for hackathons through the PinLatAm program, for news innovation in Latin America. Create your own hackathon.

        .row-fluid
          .span12
            .span4
              section.block
                header
                  h3 Find Collections
                .content.span10.offset2
                  p.control-group
                    input.input-large.search-box(id="search-collections", type='text', placeholder="name or description")
                    button.btn.btn-large.btn-custom.disabled.search-btn(id="search-collections-btn") Search
                    button.btn.btn-large.btn-custom.disabled.search-btn(id="search-instances-btn") Create

        .row-fluid
          .span12
            section.block
              header
                h3 Why Hackdash?
              .content
                .row-fluid
                  .span10.offset1.brand-why
                    .span3
                      .icon.quick
                      h5 Quick and Easy
                    .span3
                      .icon.nerds
                      h5 For Nerds
                    .span3
                      .icon.fast
                      h5 Fast
                    .span3
                      .icon.geeks
                      h5 Love & Geeks
        .row-fluid
          .span12
            section.block
              header
                h3 Partners
              .content
                .row-fluid
                  .span10.offset2.partners
                    .span5.hhba
                    .span5.nxtp

    #logIn.modal.hide.fade
      include login

    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/bootstrap.min.js")
    script(src="/js/libs/plugins.js")
    script(src="/js/app.js")
    script(src="/js/homepage.js")
    script().
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41680841-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
