.span6.span-center
  div.boxxy
    h3.header Create project

    div
      form.ajaxForm(action="/api/projects/create", method="POST")
        .form-content
          #ghImportHolder
            a#ghImportBtn(href="#") Import from Github
            .control-group.hidden
              .controls
                input(type="text", class="input-block-level", placeholder="repo user/name", name="repo")
                button#searchGh.btn() Import

          .control-group
            .controls
              input(type="text", class="input-block-level", placeholder="Title", name="title")

          .control-group
            .controls
              textarea(class="input-block-level", id="description", name="description", rows="4", maxlength="400", placeholder="Description")

          .control-group
            .controls
              #dragdrop 
                p Drag Photo Here
                  input(type="file", name="cover_fall", id="cover_fall")        

          .control-group
            .controls
              input(class="input-block-level", type="text", name="link", id="link", placeholder="Link")

          .control-group
            .controls
              input(class="input-block-level", type="text", name="tags", id="tags", placeholder="Tags", style="width: 100%")
          
          .control-group
            .controls
              select(class="input-block-level", name="status", id="status", style="width: 100%")
                each status in statuses
                  option(value=status)= status
        
        .form-actions
          input.btn.primary.btn-success.pull-left(type="submit", value="Create project")
          a.cancel.btn.btn-cancel.pull-right(data-dismiss="modal") Cancel
