<h1 class="header edit">Edit Your Profile</h1>

<div class="cover">{{getProfileImageHex .}}</div>

<form>
  <div class="form-content">

    <div class="form-group">
      <input name="name" type="text" placeholder="Name" value="{{name}}" class="form-control"/>
    </div>
    <div class="form-group">
      <input name="email" type="text" placeholder="Email" value="{{email}}" class="form-control"/>
    </div>
    <div class="form-group">
      <textarea name="bio" placeholder="Some about you" class="form-control" rows="4">{{bio}}</textarea>
    </div>
  </div>
  <div class="form-actions">
    <input id="save" type="button" data-loading-text="saving.." value="Save profile" class="btn-primary pull-right"/>
    <label class="saved pull-right">Profile saved!</label>
    <a id="cancel" class="btn-cancel pull-left">cancel</a>
  </div>
</form>