<div class="span6 span-center">

  <div class="profile-card"></div>

  <h4>My Collections (<span class="coll-length">0</span>)</h4>
  <div class="collections-ctn"></div>

  <h4>Dashboards (<span class="dash-length">0</span>)</h4>
  <div class="dashboards-ctn"></div>

  <h4>Projects created (<span class="proj-length">0</span>)</h4>
  <div class="projects-ctn"></div>

  <h4>Contributions (<span class="contrib-length">0</span>)</h4>
  <div class="contributions-ctn"></div>

  <h4>Likes (<span class="likes-length">0</span>)</h4>
  <div class="likes-ctn"></div>
  
</div>
