<div class="modal-body">

  <button type="button" class="close" data-dismiss="modal">
    <i class="fa fa-close"></i>
  </button>

  <div class="row">
    <div class="col-md-5">

      <h1>embed this project</h1>

      <div class="settings">

      {{#each settings}}

        <div class="checkbox">
          <label>
            <input id="{{code}}" type="checkbox" checked> {{name}}
          </label>
        </div>

      {{/each}}

      </div>

      <label class="get-code">Add this project to your website by coping this code below</label>
      <textarea id="embed-code" onclick="this.focus();this.select();" readonly="readonly"></textarea>

    </div>
    <div class="col-md-7" style="position:relative;">
      <div class="preview">
        <iframe width="100%" height="450"
          frameborder="0" allowtransparency="true" title="Hackdash"></iframe>
      </div>
    </div>
  </div>

</div>
