<div class="modal-body">

  <div class="row">
    <div class="col-md-5">

      <h1>spread your voice</h1>

      <div class="settings">

      {{#each settings}}

        <div class="checkbox">
          <label>
            <input id="{{code}}" type="checkbox" checked> {{name}}
          </label>
        </div>

      {{/each}}

      </div>

      <textarea id="embed-code" onclick="this.focus();this.select();" readonly="readonly"></textarea>

      <a class="btn btn-primary get-code">GRAB CODE</a>

    </div>
    <div class="col-md-7" style="position:relative;">
      <div class="preview">
        <iframe width="100%" height="450"
          frameborder="0" allowtransparency="true" title="Hackdash"></iframe>
      </div>
    </div>
  </div>

</div>
