
.container-fluid {
  padding: 0;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px;
  border: solid 1px #E9E9E9;
  background-color: #fff;
}

.row-fluid {
  margin-bottom: 25px;
}

section {
  border-top: solid 1px #E9E9E9;
  margin-bottom: 20px;
}

#domain {
  padding: 10px 10px;
  border-radius: 10px;
}

.brand {
  background: url('/images/landing/cover.jpeg') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.brand .content {
  margin: 50px auto;
  width: 70%;
}

.brand h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 0px rgb(114, 114, 114);
}

.brand p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 0px rgb(114, 114, 114);
}

header { 
  padding: 0; 
  margin: 0; 
  border-bottom: 0; 
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 20px;
}

.brand > header {

}

.block > header{
  text-align: center;
  margin-top: -10px;
}

header h1 {
  color: #fff;
  display: inline-block;
  font-size: 30px;
  border-bottom: 4px solid #fff;
  margin: 20px;
}

header h3 {
  display: inline-block;
  margin: -20px auto 0 auto;
  font-size: 16px;
  background-color: white;
  padding: 0 20px;
  color: #8A8A8A;
  font-weight: normal;
}

.brand-hacks .icon {
  background-size: 200px 130px;
  background-repeat: no-repeat;
  height: 110px;
  width: 160px;
  max-height: 110px;
  background-position: center;
  margin: 5px auto;
}

.brand-hacks .fb {
  background-image: url('/images/landing/fb.png');
}
.brand-hacks .digg {
  background-image: url('/images/landing/digg.png'); 
}
.brand-hacks .tc {
  background-image: url('/images/landing/tc.png');
}
.brand-hacks .pinterest {
  background-image: url('/images/landing/pinterest.png');
}

.brand-why .icon {
  background-image: url('/images/landing/icons.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.brand-why h5 {
  text-align: center;
  color: #797979;
}

.brand-why .quick {
  background-position: 0 0;
}
.brand-why .nerds {
  background-position: -60px 0;
}
.brand-why .fast {
  background-position: -120px 0;
}
.brand-why .geeks {
  background-position: -180px 0;
}

.partners > div {
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

.partners .hhba {
  background-image: url('/images/landing/hhba.png');
}
.partners .nxtp {
  background-image: url('/images/landing/nxtp.png'); 
}

