
body {
  margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; color: #333333; background-color: #f8f8f8; }

@font-face {
    font-family: 'Entypo';
    src: url('font-face/entypo-webfont.eot');
    src: url('font-face/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/entypo-webfont.woff') format('woff'),
         url('font-face/entypo-webfont.ttf') format('truetype'),
         url('font-face/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header { padding: 18px 0 17px 0; margin: 18px 0; border-bottom: 1px solid #eee; }

header h1 { line-height: 1; }

header p.lead { margin-bottom: 0; }

header p.createProject { float: right; }

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .project {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.well {
  min-height:                                           20px;
  padding:                                               0px;
  margin-bottom:                                        20px;
  background-color:                       #ffffff !important;
  border:                                  1px solid #e4e4e4;
  border:                   1px solid rgba(228, 228, 228, 1);
  -webkit-border-radius:                                 4px;
  -moz-border-radius:                                    4px;
  border-radius:                                         4px;
  -webkit-box-shadow:    inset 0 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:       inset 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow:            inset 0 0px 0px rgba(0, 0, 0, 0.05);
}

.well p > a {
  display:              block;
  font-size:             18pt;
  margin:                16px;
  font-weight:         normal;
  color:              #777777;
  line-height:           20pt;
  text-align:            left;
  margin-bottom:         60pt;
}

.well p > a:hover {
  text-decoration: none;
}

.well .activity {
  font-size:     10pt;
  font-weight:   bold;
  color:      #4f4f4f;
  margin: 15px;
}

.people {
  padding-left: 10px;
}
.aging {
  padding-left: 20px;
  text-align: right;
}

[data-icon]::before {
font-family:              'Entypo';
color:                     #e4e4e4;
font-weight:        400 !important;
content:           attr(data-icon);
text-transform:               none;
margin-right:                  3px;
position:                 relative;
top:                           3px;
font-size:                    30px;
line-height:                     0;
}

.divider {
  border-top: 3px solid;
  margin-bottom: 8px;
}

.info {
  padding-left: 10px;
  margin-bottom: 16px;

} 


@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .project {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .project.span4 {
    width: 352px;
  }
}

@media (min-width: 980px) {

}

@media (min-width: 1200px) {
  .project.span4 {
    width: 270px;
  }
}
