
<div class="header">
  <div class="container">
    <div class="coll-details"></div>
  </div>
</div>

<div class="body">

  <div class="container">
    <div id="collection-dashboards"></div>
  </div>

</div>
