<div class="modal-header">
  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
  <h3>My Collections</h3>
</div>
<div class="modal-body">
  <ul class="collections"></ul>
</div>
<div class="modal-footer">
  <div class="row-fluid">
    <div class="span12">
      <div class="span10">
        <input type="text" name="title" placeholder="Enter Title" class="input-medium pull-left" style="margin-right: 10px;">
        <input type="text" name="description" placeholder="Enter Description" class="input-medium pull-left">
        <input type="button" class="btn primary btn-success pull-left btn-add" value="Add">
      </div>
      <div class="span2">
        <input type="button" class="btn primary pull-right" data-dismiss="modal" value="Close">
      </div>
    </div>
  </div>
</div>