<div class="modal-header">
  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
  <h3>My Collections</h3>
</div>
<div class="modal-body">
  <ul class="collections"></ul>
</div>
<div class="modal-footer">
  <form class="form-inline">
    <input type="text" name="title" placeholder="Enter Title" class="input-medium pull-left" style="margin-right: 10px;">
    <input type="text" name="description" placeholder="Enter Description" class="input-medium pull-left">
    <input type="button" class="btn primary btn-success pull-right add" value="Add">
  </form>
</div>