<div class="well">
  <div class="well-content">
    <h4>{{title}}</h4>
    {{description}}
  </div>
  <div class="row-fluid footer-box">
    <div class="aging activity created_at">
      <i rel="tooltip" title="{{timeAgo created_at}}" class="tooltips icon-time icon-1"></i>
    </div>
  </div>
</div>
