<h3 class="header">
  <img src="{{picture}}" style="margin-right: 10px;" class="avatar">
  {{name}}
</h3>
<div class="profileInfo">
  <p><strong>Email: </strong>{{email}}</p>
  <p><strong>Bio: </strong>{{bio}}</p>
</div>