<div class="embed">
  <a>{{__ "embed/insert"}}</a>
</div>
<div class="social-buttons">
  <ul>
    {{#each networks}}
    <li class="{{name}}">
      <a {{#if link}}href="{{link}}"{{/if}}>
        <i class="fa fa-{{name}}"></i>
      </a>
    </li>
    {{/each}}
  </ul>
</div>