<div class="embed">
  <a>embed/insert</a>
</div>
<div class="social-buttons">
  <ul>
    {{#each networks}}
    <li class="{{name}}">
      <a href="{{link}}">
        <i class="fa fa-{{name}}"></i>
      </a>
    </li>
    {{/each}}
  </ul>
</div>